.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/*
# разрешить настройки проекта
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.streamlit/
tasks/
data/
.env
temp*
*.ipynb
.codebase-memory/
./qwen/AGENTS.local.md
./agents/settings.json
